extends layout

block main-content
	if user && typeof user != "undefined"
		script(type="text/javascript").
			var socket = io.connect('localhost:3000');
			
			var allUsersInterval;
			socket.on('error', function(){
				console.log("Error!");
				clearInterval(allUsersInterval);
			});
			
			//Initial get ALL users request - request each 2 sec
			allUsersInterval = setInterval(function(){
				socket.emit('getAllUsers');
			}, 5000);
			
			socket.on('allUsersList', function(data){
				var userArr = data.userList;
				console.log("<Page - Index> Data: " + userArr);
				var playerContainer = document.getElementsByClassName('player-container')[0];
				
				var nodeList = new Array(playerContainer.childNodes);
				for(var node in nodeList){
					console.log("Players text: " + node.textContent);
				}
				


				var players = new Array(playerContainer.childNodes).map(function(playerElem){return playerElem.textContent;});

				for(var idx = 0; idx < userArr.length; idx++){
					if(listContainsElem(players, userArr[idx])){
						console.log("List contains elem!");
						continue;
					} else {
						console.log("List doesn't contains elem!");
					}

					var playerNode = document.createElement('H4');
					var playerNodeText = document.createTextNode(userArr[idx]);
					playerNode.appendChild(playerNodeText);
					playerNode.className += "player";
					playerContainer.appendChild(playerNode);
				}
				
				function listContainsElem(list, elem){
					return list.indexOf(elem) != -1;
				}
			});
			
			

		.menu-part-1
			.player-container
				h4.player test-1
				h4.player test-1

			a.quickGame QuickGame
		.menu-part-2
			center
				h3 Invites
			.invites-container
				h4.invite invite-1

	else
		.formContainer
			h3 Not logged in
			a(href="/login") Login &nbsp;
			a(href="/register") Register