extends layout


block main-content
	.formContainer
		h3.title Register	
		form(action="/users/makeAccount", method="POST")
			table
				tr
					td Username: 
					td
						- var tempUsername = typeof fields === "undefined" ? "" : fields.username;
						input#username(type="text", name="username", value= tempUsername)
						span.text-error.block= typeof errors === "undefined" ? "" : typeof errors.Username === "undefined" ? "" : errors.Username 
				tr
					td Password:
					td
						- var tempPass = typeof fields === "undefined" ? "" : fields.pass;
						input#pass(type="password", name="pass", value= tempPass)
						span.text-error.block= typeof errors === "undefined" ? "" : typeof errors.Password === "undefined" ? "" : errors.Password
				tr
					td Retype Password:
					td
						input#pass_retype(type="password", name="pass_retype", value= typeof fields === "undefined" ? "" : fields.pass_retype)
						span.text-error.block= typeof errors === "undefined" ? "" : typeof errors.pass_retype === "undefined" ? "" : errors.pass_retype		
				tr
					td
						button(type="submit") Register
						button(type="reset") Reset
					td
				tr
					td(colspan="2") Already have an account? #[a(href="/login") Please login]