body {
	background-color: black;
}

body * {
	padding: 0px;
	margin: 0px;
	border: 0px;
	text-decoration: none
}

a:link, a:visited, a:active {
	color: #000;
}
 
a:hover{
	font-weight: bold;
	color: blue;
}

.main-container {
	position: relative;
	padding: 5px;
	background-color: #7090E5;
	top: 100px;
	width: 900px;
	min-height: 700px;
	margin: auto;
}


/** Login **/
.formContainer {
	position: relative;
	top: 100px;
	width: 600px;
	margin: auto;
	border-radius: 5px;
	background-color: #ACACAC;
}

div.formContainer .formEntry {
	margin-top: 10px;
}

.title {
	text-align: center;
}


/* Index page */
.menu-part-1{
	position: relative;
	float: left;
	width: 49%;
	height: 690px;
	border: 1px solid black;
	border-radius: 5px;
	margin-right: 5px;
	text-align: center;
	box-shadow: 0 0 2px;
}

.menu-part-2{
	position: relative;
	float: left;
	width: 49%;
	height: 690px;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 0 0 2px;
}

.player-container {
	top: 3px;
	position: relative;
	margin: auto;
	width: 98%;
	height: 85%;
	border: 1px solid blue;
	border-radius: 5px;
	background-color: #7477B3;
	overflow: auto;
}

.player-container .player:hover{
	background-color: blue;
	cursor: pointer;
}

.invites-container {
	position: relative;
	padding: 5px;
	margin: auto;
	width: 95%;
	height: 93%;
	border: 1px solid blue;
	border-radius: 5px;
	background-color: #7477B3;
	overflow: auto;
}

.invites-container .invite:hover{
	cursor: pointer;
	background-color: yellow;
}

.quickGame { 
	position: relative;
	top: 40px;
	margin: auto;
	font-size: 25px;
	cursor: pointer;
	
}



/** Board configuration - Grid Container **/
#wrapper {
	overflow: auto;
}

.grid, .ships {
	float: left;
}


.grid table {
	empty-cells: show;
}

.grid table{
	border-collapse: collapse;
}

.grid table tr td.innerDropSquare { 
	border: 1px solid black;
}


.grid table tr td {
	width: 60px;
	height: 60px;
}

.outerSquare {
	text-align: center;
}



/*Available ships*/
.ships { 
	background-image: url('/img/camoPattern.jpg');
	margin-left: 10px;
	padding: 10px;
}
 
.ships .shipCategory td{
	font-size: 20px;
}

.ships table.innerTable {
	empty-cells: show;
}

.ships table.innerTable, .ships table.innerTable tr, .ships table.innerTable tr td { 
	border: 3px solid red;
	border-collapse: collapse;
}

.ships table.innerTable tr td {
	width: 20px;
	height: 20px;
}




/*Helper classes*/
.text-error{
	color: red;
}
.block{
	display: block;
}